<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Your calendars will be used to populate Activity.</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>12.0</string>
	<key>CFBundleDisplayName</key>
	<string>CRM.Client</string>
	<key>CFBundleIdentifier</key>
	<string>com.aurea.acrm.mobile</string>
	<key>CFBundleVersion</key>
	<string>132</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>CRM.Client</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>crmclient</string>
			</array>
		</dict>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>1.2.0</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Your current location will be displayed on the map and used for location-based searches.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Your current location will be displayed on the map and used for location-based searches.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your current location will be displayed on the map and used for location-based searches.</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mailto</string>
		<string>appconnect</string>
		<string>auftragsuebersicht</string>
		<string>auftragserfassung</string>
		<string>rechnungsarchiv</string>
		<string>isokiosk</string>
		<string>biblio-placo</string>
		<string>weberdoc</string>
		<string>pam</string>
		<string>isokiosk://external-url/</string>
		<string>biblio-placo://external-url/</string>
		<string>weberdoc://external-url/</string>
		<string>pam://external-url/</string>
		<string>poetic</string>
		<string>yelp</string>
		<string>awb</string>
		<string>movi-ev-cc-tobs</string>
		<string>alt-appconnect</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to the camera to take photos.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs access to microphone for taking videos.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app needs access to the photo gallery for picking photos and videos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to photos gallery for picking photos and videos.</string>
</dict>
</plist>
